*{padding: 0;
margin: 0;
box-sizing: border-box;
}

:root{
    --background-color: hsl(30, 38%, 92%);
    --primary-color: hsl(158, 36%, 37%);
    --title-color:  hsl(212, 21%, 14%);
    --text-color: hsl(228, 12%, 48%);
    --hover-color:hsl(158, 42%, 18%);

}
html{
   background-color: var(--background-color); 
   font-family: 'Montserrat', sans-serif;

}

.card {
    background-color: white;
    display: flex;
    gap: 25px;
    margin: 140px auto;
    max-width: 550px;
    border-radius: 10px;
}

.card .image-container img{
    min-width: 250px;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.card .main-content{
    margin-top: 25px;
    padding-right: 20px;
    color: var(--text-color);
}

.card .main-content h5{
    font-weight: 500;
}

.card .main-content h1{
 font-family: 'fraunces', sans-serif;
 font-weight: 700;
 margin-right: 20px;
 line-height: 1;
 color: var(--title-color);
 padding: 10px 0 20px;
}

.card .main-content h2{
     font-family: 'fraunces', sans-serif;
     padding: 20px 0 20px;
     display: flex;
     align-items: center;
      color: var(--primary-color);
}

.card .main-content h2 span{
    font-size: 14px;
    text-decoration: line-through;
    color: var(--primary-color);
    margin-left: 20px;
    font-weight: 500;
}

.card .main-content button {
    background-color: var(--primary-color);
    outline: none;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 12px;
    color: white;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}
.card .main-content button img{
    margin-right: 10px;
}
.card .main-content button:hover{
background-color: var(--hover-color);
}

@media (max-width: 375px) {
    html {
        padding: 0 15px ;
    }
    .card {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        min-width: 250px;
    }
    .card .image-container img{
        height: 220px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
    .card .main-content h5{
        font-size: 12px;
    }
    .card .main-content{
        margin-top: -10px;
        padding: 0 20px 20px;
    }
    .card.main-content h1{
        margin-right: 0;
        font-size: 26px;
    }
    .card .main-content p{
        font-size: 14px;

    }
    .card .main-content h2 span{
        font-size: 12px;

    }
}

